{% load static %}
<html>
    <head>
        <title>My Book</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/mybook.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:700">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <meta charset="utf-8"/>
    </head>
    <body>
        <div class='login'>
            {% if user.id  %}
            <p>ログインしました．</p>
            <p>こんにちは，{{ user.username }}さん</p>
            <a href="{% url 'logout' %}">ログアウトする</a>
            {% else %}
            <a href="{% url 'login' %}">ログイン</a>
            <a href="{% url 'create_account' %}">アカウント作成</a>
            {% endif %}
        </div>
        
        <div  class="page-header"> 
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/post">My Book</a></h1>
            <div class='page-menu'>
                <ul>
                    <li><a href ="{% url 'mypage' %}" class="btn mypage">mypage</a></li>
                    <li><a href ="{% url 'mylike' %}" class="btn favorite">favorite</a></li>
                </ul>
            </div>
        </div>

        <div class='alert'>
            <p>他のユーザーの投稿を編集、削除することは出来ません</p>
        
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class='footer'>
            <div class='footer-logo'><p>Mybook</p></div>
            <div class='footer-menu'>
              <ul>
                <li><a href="{% url 'create_account' %}">アカウント作成</a></li>
                <li><a href="{% url 'login' %}">ログイン</a></li>
                <li><a href="{% url 'logout' %}">ログアウトする</a></li>          
              </ul>  
            </div>
            
          </div>
    </body>
</html>